<h2 class="text-center">{{directorio}}</h2>
<div class="container marketing text-center">
	<!-- Three columns of text below the carousel -->
	<div class="row">
		<a class="thumbnail col-xs-12 col-sm-12 col-md-6" (click)="gotoCategoria(face)">
			<img style="height:250px" src="./app/assets/imagenes/galeriaHome/face.jpg" alt="EjCliente">
			<div class="caption">
				<h3>Face</h3>
			</div>
		</a>
		<a class="thumbnail col-xs-12 col-sm-12 col-md-6" (click)="gotoCategoria(body)">
			<img style="height:250px" src="../app/assets/imagenes/galeriaHome/body.jpg" alt="EjCliente">
			<div class="caption">
				<h3>Body</h3>
			</div>
		</a>
		<a class="thumbnail col-xs-12 col-sm-12 col-md-6" (click)="gotoCategoria(cosmetics)">
			<img style="height:250px" src="./app/assets/imagenes/galeriaHome/cosmetics.jpg" alt="EjCliente">
			<div class="caption">
				<h3>Cosmetics</h3>
			</div>
		</a>
		<a class="thumbnail col-xs-12 col-sm-12 col-md-6" (click)="gotoCategoria(sets)">
			<img style="height:250px" src="./app/assets/imagenes/galeriaHome/sets.jpg" alt="EjCliente">
			<div class="caption">
				<h3>Starter Sets & Specialty Items</h3>
			</div>
		</a>
	</div>
</div>
<footer></footer>